<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Hi Blog, I'm Dad!</title>
  </head>

  <body>    
    <div class="jumbotron jumbotron-fluid">
        <div class="container justify-center">
          <h1 class="display-4">Hi Blog, I'm Dad!</h1>
          <p class="lead">They're not Dad Jokes, they're Rad Jokes</p>
        </div>
      </div>

      <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Homepage/dashboard</a></li>
      <li class="li-inline nav-item"><a href="">Your Posts/Profile</a></li>
      <li class="li-inline nav-item"><a href=" ">New Post</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        </ul>
      </nav>

      <main class="col-auto">
            {{{body}}}
      </main>

      <footer class="flex-row justify-center">
        &copy; Dad Jokes 
      </footer>
    </body>
    </html>
    <script> src="/public/js/logout.js"</script>