<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Hi Blog, I'm Dad!</title>
      <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container justify-center">
        <h1 class="display-4">Hi Blog, I'm Dad!</h1>
        <p class="lead">They're not Dad Jokes, they're Rad Jokes</p>
      </div>
    </div>

    <main class="col">
      {{{body}}}
    </main>

    <footer class="flex-row justify-center fixed-bottom">
      &copy; Dad Jokes
    </footer>
  </body>
</html>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script>
  dayjs().format();
</script>
<script src="/js/date.js"></script>
