{{!-- wait until after MVP --}}
<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <nav class="navbar">
        <ul>
          <li class="li-inline nav-item listNav"><a class="sideNav" href="/">Homepage/dashboard</a></li>
          <li class="li-inline nav-item listNav"><a class="sideNav" href="#">Your Posts/Profile</a></li>
          <li class="li-inline nav-item listNavEnd"><a class="sideNav" href="#">New Post</a></li>
          <li class="li-inline nav-item"><a class="sideNav" href="#" id="logout-link">Logout</a></li>
        </ul>
      </nav>
    </div>