<div class="container">
  <div class="row">
    <div class="col-3"  id="annoyingdiv">
      <img id="sc_image" src="/assets/Screen Shot 2022-10-03 at 7.32.15 PM.png">
    </div>
    <div class="col-6">
      <form id="signup-form">
        <div class="form-group">
          <label for="nameSignup">Name</label>
          <input 
          required
          type="Name" id="name"
          class="form-control"
          placeholder="What can we call you?" />
        </div>
        <div class="form-group">
          <label for="emailSignup">Email Address</label>
          <input 
          required
          type="email" id="email-signup"
          class="form-control"
          placeholder="Give us an Email to seal the deal! :)" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
          required
          type="password" id="password-input-signup"
          class="form-control"
          placeholder="Whats the password?" />
        </div>
        <button type="submit" id="signup-btn" class="btn btn-primary">Signup!</button>
        <small id="emailHelp" class="form-text text-muted" ></small>
        <p>Blogging jokes with us already?</p>
        <a href="/login">Login instead</a>
      </form>
    </div>
    <div class="col-3">
       <img id="sc_image" src="/assets/Screen Shot 2022-10-03 at 7.32.02 PM.png">
    </div>

  </div>
</div>

<script src="/js/signup.js"></script>
