:root {
    --primary: #E1BB83;
    --secondary: #a8782faf;
    --tertiary: #5C4C35;
    --light-dark: #A8782F;
    --dark: #5C411A; 
    --w: white;
    --border-radius: 0.3rem;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

head {
    justify-content: center;
}

.jumbotron{
    text-align: center;
}

form{
    background-color: var(--secondary);
    padding: 30px;
    border-radius: 10px;
    outline: none;
    border-color: var(--dark);
    box-shadow: 0 0 20px var(--dark);
    text-align: center;
}

footer {
    background-color: rgb(160, 132, 96);
    text-align: center;
}

a{
    color: var(--primary);
}
a:hover{
    color: var(--w);
    text-decoration: none;
}

.sideNav,
.listNav{
    color: var(--dark);
    font-size: 20px;
    padding-bottom: 25px;
}

.listNavEnd{
    padding-bottom: 65px;
}

li{
    list-style: none;
}

ul{
    padding-inline-start: 0px;
}

.navbar{
    background-color: var(--secondary);
    padding: 40px 30px 0px 30px;
    border-radius: 10px;
    outline: none;
    border-color: var(--dark);
    box-shadow: 0 0 20px var(--dark);
    text-align: center;
    justify-content: center;
}

.area{
    background-color: var(--w);
    padding: 15px;
    max-height: fit-content;
    overflow: auto;
    margin: 0px 0px 0px 30px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--dark);
}