:root {
    --primary: #E1BB83;
    --secondary: #A8782F;
    --tertiary: #5C4C35;
    --light-dark: #A8782F;
    --dark: #5C411A; 
    --border-radius: 0.3rem;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

head {
    justify-content: center;
}
